<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="Seven Smiles.S397ConfigEditor_HeatWave" Name="S397ConfigEditor" Manufacturer="Seven Smiles" Version="0.1.0.0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
